<div>
  <h2>File Upload</h2>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" required />
    </div>
    <div>
      <label for="team">Team:</label>
      <input type="text" id="team" formControlName="team" required />
    </div>
    <div>
      <label for="files">Select Files:</label>
      <input
        type="file"
        id="files"
        (change)="onFileSelected($event)"
        multiple
      />
    </div>
    <button type="submit">Upload</button>
  </form>
  <div>
    @if (uploadedImages.length > 0) {
    <h3>Uploaded Images</h3>
    @for (image of uploadedImages; track image) {
    <div>
      <img [src]="image.url" [alt]="image.meta.username" width="200" />
      <div>
        <strong>Username:</strong> {{ image.meta.username }}<br />
        <strong>Team:</strong> {{ image.meta.team }}
      </div>
    </div>
    } }
  </div>
</div>
